<launch>
<node pkg="hippocampus_controller" type="carrot_and_depth_controller" name="CarrotControl" output="screen">
<rosparam command="load" file="$(find hippocampus_controller)/config/parameters.yaml" />
<rosparam command="load" file="$(find hippocampus_controller)/config/CarrotAndDepth.yaml" />
</node>
</launch>
